<div class="page-container" ng-if="isAuthorizedSession"> <!--isAuthorized(userRoles.admin)-->
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->

    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content-example-ui">
            <h3 class="page-title">Categories</h3>

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#/dashboard">App</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#/categories">Categories</a>
                    <i class="fa"></i>
                </li>
            </ul>

            <div class="row-fluid">
                <div ng-include="'app/modules/admin/products/categories/tpl/categories-filter.tpl.html'"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" role="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet rhoncus dolor, eu pellentesque tortor. Proin at neque blandit, mattis neque ac, semper nulla. Quisque et magna lectus. Suspendisse potenti. Morbi imperdiet elementum justo sit amet sollicitudin. Duis at magna enim. Aliquam lacinia ligula ac dolor fermentum malesuada. Nunc sed sem nec arcu tristique tempor vitae laoreet ante.
                        </div>
                        <div ng-controller="ctrlRead">
                            <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th class="chechbox1">
                                        <input type="checkbox" ng-model="selectAllItem" ng-click="selectItemAll()" />&nbsp;</th>
                                    <th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>
                                    <th class="name" custom-sort order="'name'" sort="sort">Name&nbsp;</th>
                                    <th class="type" custom-sort order="'type'" sort="sort">Type&nbsp;</th>
                                    <th class="status" custom-sort order="'status'" sort="sort">Status&nbsp;</th>
                                </tr>
                                </thead>
                                <!--<tfoot>-->
                                <!--<td colspan="6">-->
                                <!--<div class="pagination pull-right">-->
                                <!--<ul class="pagination pagination-sm">-->
                                <!--<li ng-class="{disabled: currentPage == 0}">-->
                                <!--<a href ng-click="prevPage()">« Prev</a>-->
                                <!--</li>-->

                                <!--<li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) " ng-class="{active: n == currentPage}" ng-click="setPage()">-->
                                <!--<a href ng-bind="n + 1">1</a>-->
                                <!--</li>-->

                                <!--<li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">-->
                                <!--<a href ng-click="nextPage()">Next »</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</div>-->
                                <!--</td>-->
                                <!--</tfoot>-->
                                <!--
                                <pre>pagedItems.length: {{pagedItems.length|json}}</pre>
                                <pre>currentPage: {{currentPage|json}}</pre>
                                <pre>currentPage: {{sort|json}}</pre>
                                -->
                                <!--<pre>{{ pagedItems|json }} </pre>-->
                                <tbody>
                                <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                                    <td>
                                        <input type="checkbox" ng-checked="selectAllItem" ng-click="selectItem($index)" />
                                    </td>
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.status}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="pagination pull-right">
                                <ul class="pagination pagination-sm">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>

                                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) " ng-class="{active: n == currentPage}" ng-click="setPage()">
                                        <a href ng-bind="n + 1">1</a>
                                    </li>

                                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                            <div class="btn-group btn-group-xs" role="toolbar">
                                <div class="btn-group">
                                    <button href="#" class="btn btn-danger btn-xs" style="margin-right: 10px;">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </button>

                                    <a href="#/categories/edit" class="btn btn-info btn-xs" style="margin-right: 10px;">
                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                    </a>

                                    <a href="#" class="btn btn-warning btn-xs" style="margin-right: 10px;">
                                        <span class="glyphicon glyphicon-th"></span> Duplicate
                                    </a>

                                    <a href="#/categories/new" class="btn btn-info btn-xs" style="margin-right: 10px;">
                                        <span class="glyphicon glyphicon-plus"></span> New
                                    </a>

                                    <a href="#" class="btn btn-warning btn-xs">
                                        <span class="glyphicon glyphicon-ok"></span> Finish
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-container" ng-if="!isAuthorizedSession">
    Bad credentials
</div>