<h1>Splitter</h1>
<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Items list</h3>
			</div>

			<div class="panel-body">

				<div class="list-group">
					<a ng-repeat="item in list" ng-click="details(item.id)" class="list-group-item">{{item.name}}</a>
				</div>

			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Item details</h3>
			</div>

			<div class="panel-body">
				<div ng-include src="'app/tpl/splitter-general.tpl.html'"></div>
				<div ng-show="oneitem.list" ng-include src="'app/tpl/splitter-list.tpl.html'"></div>
				<div ng-show="config.showForm" ng-include src="'app/tpl/splitter-form.tpl.html'"></div>
				<div ng-show="config.showPhotos" ng-include src="'app/tpl/splitter-photos.tpl.html'"></div>
			</div>
		</div>
	</div>
</div>