<div ng-controller="ctrlRead">
    <table class="table table-striped table-condensed table-hover">
        <thead>

            <tr>
                <th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>
                <th class="name" custom-sort order="'name'" sort="sort">Name&nbsp;</th>
                <th class="type" custom-sort order="'type'" sort="sort">Type&nbsp;</th>
                <th class="status" custom-sort order="'status'" sort="sort">Status&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <td colspan="6">
                <div class="pagination pull-right">
                    <ul class="pagination pagination-sm">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>

                        <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) " ng-class="{active: n == currentPage}" ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>

                        <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tfoot>
<!--
        <pre>pagedItems.length: {{pagedItems.length|json}}</pre>
        <pre>currentPage: {{currentPage|json}}</pre>
        <pre>currentPage: {{sort|json}}</pre>
        <pre>{{ pagedItems|json }}</pre>
-->
        <tbody>
            <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.status}}</td>
            </tr>
        </tbody>
    </table>
</div>