<div class="col-xs-12 action-top-bar">
	<button ng-click="postform.$valid ? save() : false" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-saved"></span> Save</button>
	<button ng-click="cancel()" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-remove"></span> Cancel</button>
</div>

<div class="col-xs-12">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{post.name ? post.name : "Post"}}

				<span ng-show="postform.$dirty || post.dirty" class="glyphicon glyphicon-asterisk text-danger"></span>
			</h3>
		</div>
		<div class="panel-body">

			<form name="postform" novalidate class="form-horizontal" role="form">

				<div class="form-group">
					<label for="inputName" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input required type="text" ng-model="post.name" class="form-control" id="inputName" placeholder="Name">
					</div>
				</div>

			</form>


			<!--Log New:-->
			<!--<pre>{{post | json}}</pre>-->

			<!--Log Dirty-->
			<!--<pre>{{postform.$dirty}}</pre>-->

			<!--IsValid:-->
			<!--<pre>{{postform.$valid}}</pre>-->

		</div>
	</div>
</div>